# PostgreSQL Cloud Connection URL (Neon / Supabase / Railway)
DATABASE_URL=postgresql://neondb_owner:YOUR_DATABASE_PASSWORD@ep-icy-sunset-aygvxck5-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require

# Google Spreadsheet Configuration
SPREADSHEET_ID=1vRYsfBey2qTmLf9iCkxSU4tb85e6nhYZzwaQ7DrMkII
IZLISHKA_GID=2059071830
SGT_GID=1647276156
